{% extends "base.html" %} {% block content %}

<h3><strong>Departamento:</strong>Control Escolar</h3>
<h3><strong>Asunto:</strong>Constancia de Estudios</h3>

<h2>A QUIEN CORRESPONDA:</h2>

<p>
  Por medio de la presente se hace constar que según documentos que obran en el
  archivo general del plantel, el alumno:
</p>

<h1><strong>{{ alumno.nombre_completo }}</strong></h1>

<p>
  Es alumno de esta institución educativa con número de control
  <strong>{{ alumno.numero_control }}</strong>, encontránose actualmente en
  proceso de titulación de la <strong>{{ alumno.carrera }}</strong>.
</p>

<p>
  Se expide la presente constancia a petición del interesado para los usos
  legales a que haya lugar en la ciudad de Tijuana, Baja California a los {{
  fecha }}.
</p>

<h2><strong>Atentamente</strong></h2>

<p>
  <strong>{{ director }}</strong><br />
  Director del Plantel
</p>

{% endblock %}
